body { background-color: #DDDDDD;
	margin:0;
	padding:0;
}

#box{
    position:relative;
}

#video{
    top:0px;
    left:0px;
    z-index:0;
}

#world{
    position:absolute;
    top:0px;
    left:0px;
    z-index:10;
}

button{
    margin:0;
	padding:0;
}