* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #efefef;
  font: 10px sans-serif;
}

#canvas{
    float:left;
    border-bottom:2px dotted #000;
}

button.control {
    margin-top: 5px;
    margin-left: 10px;
    background: #222;
    border:1px solid #38538c;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 10px 1px #999, 0px 1px 0 #333, 0 6px 0px #000, 0 8px 4px 1px #111;
    -moz-box-shadow: inset 0 1px 10px 1px #999, 0px 1px 0 #333, 0 6px 0px #000, 0 8px 4px 1px #111;
    box-shadow: inset 0 1px 10px 1px #999, 0px 1px 0 #333, 0 6px 0px #000, 0 8px 4px 1px #111;

    color: #fff;
    font: bold 13px "helvetica neue", helvetica, arial, sans-serif;
    padding: 5px 10px 6px 10px;
    text-align: center;

    width: 150px;

    
}
button.control:hover {
    border:1px solid #3F92D2;
    cursor: pointer;
}
button.control:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #999, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #999, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #999, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;

    -webkit-transform:translateY(5px);
    -moz-transform:translateY(5px);
}