body {
  background-color: #fff; }

#logos {
  position: absolute;
  top: 0px;
  left: 150px;
  -webkit-perspective: 800px; }

#cube {
  display: block;
  position: relative;
  margin: 30px auto;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 0deg); }

#cube {
  -webkit-animation: upyourscache1356400200569 5s infinite cubic-bezier(0.75, 0.25, 0.73, 0.33) alternate; }

@-webkit-keyframes upyourscache1356400200569 {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -45deg); }

  50% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg); }

  100% {
    -webkit-transform: rotate3d(0, 1, 0, 45deg); } }

.circle {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #133AAC;
  border-radius: 50px;
  -webkit-backface-visibility: visible; }

.front-1-1-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-1-1-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-1-1-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-1-1-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-1-1-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-1-1-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-1-1-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-1-1-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-1-1-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-1-1-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 100px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

.front-1-2-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-1-2-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-1-2-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-1-2-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-1-2-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-1-2-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-1-2-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-1-2-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-1-2-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-1-2-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 200px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

.front-1-3-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-1-3-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-1-3-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-1-3-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-1-3-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-1-3-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-1-3-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-1-3-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-1-3-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-1-3-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-200px, 300px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

.front-2-1-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-2-1-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-2-1-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-2-1-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-2-1-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-2-1-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-2-1-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-2-1-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-2-1-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-2-1-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 100px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

.front-2-2-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-2-2-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-2-2-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-2-2-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-2-2-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-2-2-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-2-2-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-2-2-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-2-2-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-2-2-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 200px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

.front-2-3-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-2-3-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-2-3-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-2-3-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-2-3-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-2-3-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-2-3-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-2-3-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-2-3-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-2-3-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(-100px, 300px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

.front-3-1-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-3-1-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-3-1-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-3-1-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-3-1-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-3-1-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-3-1-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-3-1-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-3-1-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-3-1-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 100px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

.front-3-2-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-3-2-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-3-2-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-3-2-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-3-2-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-3-2-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-3-2-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-3-2-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-3-2-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-3-2-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 200px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

.front-3-3-1 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 300px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 1s infinite linear; }

.front-3-3-2 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 400px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 2s infinite linear; }

.front-3-3-3 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 500px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 3s infinite linear; }

.front-3-3-4 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 600px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 4s infinite linear; }

.front-3-3-5 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 700px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 5s infinite linear; }

.front-3-3-6 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 800px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 6s infinite linear; }

.front-3-3-7 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 900px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 7s infinite linear; }

.front-3-3-8 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 1000px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 8s infinite linear; }

.front-3-3-9 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 1100px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 9s infinite linear; }

.front-3-3-10 {
  -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 300px, 1200px);
  height: 30px;
  width: 30px;
  -webkit-animation: move 10s infinite linear; }

@-webkit-keyframes move {
  0% {
    -webkit-transform-origin: 0 0 -1000px;
    opacity: 0.3; }

  100% {
    -webkit-transform-origin: 0 0 1000px;
    opacity: 1.0; } }
